:root {
  --primary-color: #302AE6;
  --secondary-color: #0080FF; 
  --darker-secondary-color: rgb(0, 70, 255);
  --font-color: #000;
  --bg-color: #F2F3F4;
  --heading-color: #000;
  --navbar-background: #111;
  --button-border-color: none;
  --dropdown-color: #fff;
  --bar-background: #DDD;
  /* nightlight which is only highlighted in dark mode */
  --nightlight-color: rgb(0,0,0,0.2);
  --skills-bar-color: linear-gradient(to right, #3498db ,  #3498db);
  --skills-bar-color-hover: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

[data-theme="dark"] {
  --primary-color: #302AE6;
  --secondary-color: #0080FF;
  --font-color: #fff;
  --bg-color: #232b2b;
  --heading-color: #e1e1ff;
  --navbar-background: #111;
  --button-border-color: 0.5px solid #e1e1ff;
  --dropdown-color: #000;
  --bar-background: #222;
  --nightlight-color: var(--secondary-color);
  --skills-bar-color: linear-gradient(to right, #3498db, #3498db);
  --skills-bar-color-hover: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

[data-theme="outrun"] {
  --primary-color: #36CDC4;
  --secondary-color: #FF1690;
  --font-color: #fff;
  --bg-color: #1C0658;
  --heading-color: #36CDC4;
  --navbar-background: #5C2686;
  --button-border-color: 0.5px solid #36CDC4;
  --dropdown-color: rgb(65, 0, 114); /* cards in About section & dropdown */
  --bar-background: #5C2686;
  --nightlight-color: var(--secondary-color);
  --skills-bar-color: linear-gradient(to right, #36CDC4, #FF1690);
  --skills-bar-color-hover: linear-gradient(to right, #5C2686, #FF1690);
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: var(--bg-color);
  transition: all 0.5s ease-out; }
.menu-btn.close {
  transform: rotate(180deg); }
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); }
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0; }
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.96;
  visibility: hidden; }
.menu.show {
  visibility: visible; }
.menu-branding, .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden; }
.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out; }
.menu-nav.show {
  transform: translate3d(0, 0, 0); }
.menu-branding {
  background: #000;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out; }
.menu-branding.show {
  transform: translate3d(0, 0, 0); }
.menu-branding .portrait {
  width: 240px;
  height: 250px;
  border-radius: 35%;
  border: solid 3px var(--main-bg-color); }
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out; }
.menu .nav-item.show {
  transform: translate3d(0, 0, 0); }
.menu .nav-item.current > a {
  color: var(--secondary-color);; } 
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out; }
.menu .nav-link:hover {
  color: var(--secondary-color); }

.nav-item:nth-child(1) {
  transition-delay: 0.05s; }

.nav-item:nth-child(2) {
  transition-delay: 0.1s; }

.nav-item:nth-child(3) {
  transition-delay: 0.15s; }

.nav-item:nth-child(4) {
  transition-delay: 0.2s; }

.nav-item:nth-child(5) {
  transition-delay: 0.25s; }

.nav-item:nth-child(6) {
  transition-delay: 0.3s; }

* {
  box-sizing: border-box; }

hr {
  border: 0.5px solid var(--secondary-color);
}

body {
  background: var(--bg-color);
  color: var(--font-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
body#bg-img {
  /*background: url(../img/moon.jpg); */
  background-attachment: fixed;
  background-size: cover; }
body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/gallery/Monsoon\ Raaga.jpg); /* HOME COLOR */
  background-attachment: fixed;
  background-size: cover; } 

h1, h2, h3 {
  margin: 0;
  align-content: center;
  text-align: center;
  font-weight: 400; }
h1.lg-heading, h2.lg-heading, h3.lg-heading {
  font-size: 6rem; }
h1.md-heading, h2.md-heading, h3.md-heading {
  font-size: 4rem; }
h1.sm-heading, h3.sm-heading {
  margin-bottom: 2rem;
  /* padding: 0.2rem 1rem; */
  background: rgba(73, 73, 73, 0); }

h2.sm-heading  {
  margin-bottom: 1rem;
  /* padding: 0.2rem 1rem; */
  background: rgba(73, 73, 73, 0); }

a {
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.gold-color {
  color: #eece1a; }

.text-blue {
  color: var(--secondary-color);
}

.purple-color {
  color: #AE8DFF;
}

.green-color {
  color: #00A86B;
}

.white-color {
  color: #fff;
}

.red-color {
  color: rgb(255, 0, 0);
}

iframe {
  width: 700px;
  height: 350px;
  margin: 0 auto;
  display: block;
  border: none;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
main .icons {
  align-content: center;
  text-align: center;
  margin-top: 1rem;
  color: white;
}
main .icons a {
  color: #fff;
}
main .icons a:hover {
  color: var(--secondary-color);
  transition: all 0.5s ease-out; }
main#home {
  overflow: hidden; }
main#home h1 {
  margin-top: 20vh; }

.contact-icons {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  align-content: center;
  text-align: center;
  margin-top: 1rem;
  color: black;
}
.contact-icons a {
  padding: 0.4rem;
  color: black;
}
.contact-icons a:hover {
  color: var(--secondary-color);
  transition: all 0.5s ease-out; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio';
  grid-template-columns: repeat(3, 1fr); }
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: var(--dropdown-color);}
.about-info .bio-image:hover {
  box-shadow: 0 8px 16px 0 var(--nightlight-color);
}
  .about-info .bio {
  grid-area: bio;
  font-size: 1.5rem; }

.gallery {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(4, 1fr); }
.gallery img {
  width: 300px;
}
.gallery img:hover {
  opacity: 0.5;
  border-color: var(--secondary-color);
  transition: all 0.5s ease-out; }
.gallery .job-1 {
  grid-area: job1; }
.gallery .job-2 {
  grid-area: job2; }
.gallery .job-3 {
  grid-area: job3; }
.gallery .job {
  background: var(--dropdown-color);
  opacity: 0.9;
  position: absolute;
  font-size: 20px;
  width: 300px; /* 360px; */
  padding: 0.5rem;
  border-bottom: var(--secondary-color) 5px solid;  }

.gallery .btn-dark {
  background: black;
  width: 300px;
  color: #fff; 
  cursor: pointer;
  font-size: 21px;
  text-align: center;
  border: var(--button-border-color);
}
  
.gallery  .btn-light {
  background: #c4c4c4;
  width: 300px;
  color: #333;
  cursor: pointer;
  font-size: 21px;
  text-align: center }
  
.gallery  .btn-clicked {
  background: var(--secondary-color);;
  width: 300px;
  color: #fff;
  cursor: pointer;
  font-size: 21px;
  text-align: center; 
}
    
#read {
  margin: auto;
  width: 50%;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;  
  margin-top: 1rem; }
.boxes div {
  font-size: 2rem;
  border: 3px var(--secondary-color) solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  background: white;
  transition: all 0.5s ease-out; }
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: var(--secondary-color);
  color: white; }
.boxes div:hover span {
  color: white; }

.btn, .btn-dark, .btn-light, .btn-clicked {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  border: var(--button-border-color);
 }
.btn:hover, .btn-dark:hover, .btn-light:hover {
  background: var(--secondary-color);;
  color: white;
  border: var(--button-border-color);
 }

.btn-dark {
  background: black;
  color: #fff; 
  text-align: center;
  transition: 0.3s;
  border: var(--button-border-color);
}

.btn-light {
  background: #c4c4c4;
  color: #333;
  text-align: center }

.btn-clicked {
  background: var(--secondary-color);
  color: #fff;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #111;
  color: #fff;
  box-shadow: 0 16px 64px 0 var(--nightlight-color);
}

.footer .icons a {
  padding: 0.2rem; 
  color: #fff;}
.footer .icons a:hover {
  color: var(--secondary-color);;
  transition: all 0.5s ease-out; }

html {
  scroll-behavior: smooth;
}
  
.container {
  position: relative;
  /* grid-template-columns: repeat(4, 1fr);  */
}
  
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--bg-color);
}
  
.container:hover .overlay {
  opacity: 0.8;
}
  
.text {
  color: black;
	font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
  
body {
  margin: 0;
  font-size: 28px;
}
      
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
      
#navbar {
  overflow: hidden;
  background-color: var(--navbar-background); /* #333; */ 
}
      
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }
      
#navbar a:hover {
  color: var(--secondary-color);; }
      
#navbar a.active {
  color: var(--secondary-color);;
  border-bottom: 3px solid var(--secondary-color); }

#navbar button {
  background: var(--navbar-background);
  border-color: var(--heading-color);
  float: right;
  margin-top: 1%;
  cursor: pointer;
}
      
.content {
  padding: 16px; }
      
.sticky {
  position: fixed;
  top: 0;
  width: 100%; }
      
.sticky + .content {
  padding-top: 60px; }

      
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
  	font: 13px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px var(--secondary-color);;
	-webkit-box-shadow: 0 0 8px var(--secondary-color);;
	box-shadow: 0 0 8px var(--secondary-color);;
	border: 1px solid var(--secondary-color);;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
  background: var(--secondary-color);
  border-radius: 5%;
  padding: 8px 15px 8px 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer; 
  border: none;
  color: #fff;
  transition: 0.3s;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
  background: var(--darker-secondary-color);
  border-radius: 5%;
  text-align: center;
  align-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer; 
  box-shadow: none;
  border: none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  transition: 0.3s;
}
.form-style-1 .required{
	color:red;
}
      
@media screen and (min-width: 1171px) {
  .container {
    grid-template-columns: repeat(4, 1fr); }
  .gallery {
    grid-template-columns: repeat(4, 1fr); }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .container {
    grid-template-columns: repeat(3, 1fr); }
  .gallery {
    grid-template-columns: repeat(3, 1fr); }
  body#bg-img:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/gallery/Monsoon\ Raaga.jpg); /* HOME COLOR */
    background-attachment: scroll;
    background-size: cover; 
  }
}


@media screen and (min-width: 501px) and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem; }
  main .sm-heading {
    font-size: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
  .menu-branding .portrait {
    width: 150px;
    height: 150px; }
  .about-info {
    position: relative;
    right: 10%;
    grid-template-areas: 'bioimage' 'bio';
    grid-template-columns: 1fr; }
  body#bg-img:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/gallery/Monsoon\ Raaga.jpg); /* HOME COLOR */
    background-attachment: scroll;
    background-size: cover; 
  }
  #read {
    margin: auto;
    width: 100%;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    height: auto; }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    height: auto;
   }
  .contact-icons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 377px) and (max-width: 500px) {
  main {
    align-items: center;
    text-align: center; }
  main#home h1 {
    margin-top: 20vh; 
    font-size: 2rem;
  }
  main .sm-heading {
    font-size: 1rem;
  }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
  .menu-branding .portrait {
    width: 150px;
    height: 150px; }
  .about-info {
    position: relative;
    right: 10%;
    grid-template-areas: 'bioimage' 'bio';
    grid-template-columns: 1fr; }
  iframe {    
    position: relative;
    right: 10%;
    width: 400px;
    height: 200px;
  }
  body#bg-img:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/gallery/Monsoon\ Raaga.jpg); /* HOME COLOR */
    background-attachment: scroll;
    background-size: cover; 
  }
  #read {
    margin: auto;
    width: 100%;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    height: auto; }
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    right: 24px;
    max-width: 100%;
    height: auto;
   }
  #navbar a {
    padding: 9px;
    font-size: 9px;
  }
  .contact-icons {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 376px) {
  main {
    align-items: center;
    text-align: center; }
  main .sm-heading {
    font-size: 1rem;
  }
  main#home h1 {
    margin-top: 20vh; 
    font-size: 2rem;
  }
  .contact-icons {
    grid-template-columns: repeat(1, 1fr);
  }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
  .menu-branding .portrait {
    width: 150px;
    height: 150px; }
  .about-info {
    position: relative;
    right: 10%;
    grid-template-areas: 'bioimage' 'bio';
    grid-template-columns: 1fr; }
  iframe {
    position: relative;
    right: 10%;
    width: 300px;
    height: 150px;
  }
  body#bg-img:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/gallery/Monsoon\ Raaga.jpg); /* HOME COLOR */
    background-attachment: scroll;
    background-size: cover; 
  }
  .education {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  #read {
    margin: auto;
    width: 100%;
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    height: auto; }
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    max-width: 100%;
    height: auto;
    right: 24px;
   }
  .skills {
    grid-template-columns: repeat(1, 1fr); 
    position: relative;
  }
  .bar {
    font-size: 0.75rem;
  }
  #navbar a {
    padding: 7px;
    font-size: 7px;
  }
}
